# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
/media
/staticfiles

# Environnement virtuel
venv/
env/

# Variables d'environnement
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db